EXPO_PUBLIC_TRANSBANK_BASE_URL=https://pago.espacioseryhacer.com
EXPO_PUBLIC_TRANSBANK_MODE=INTEGRACION
EXPO_PUBLIC_TRANSBANK_COMMERCE_NAME=
EXPO_PUBLIC_TRANSBANK_COMMERCE_RUT=
EXPO_PUBLIC_TRANSBANK_USER_TOKEN=
